<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @food_review.user_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food_review.restaurant_id %>
</p>

<p>
  <strong>Food:</strong>
  <%= @food_review.food_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @food_review.review %>
</p>

<%= link_to 'Edit', edit_restaurant_food_food_review_path(@restaurant,@food,@food_review) %> |
<%= link_to 'Back', restaurant_food_path(@restaurant,@food) %>
